body, html {
  padding: 80px;
}
div {
  display: block;
  height: 150px;
  width: 400px;
  margin: 0 auto;
}
#menuSup {
  background: #3D4A77;
}
#menuInf {
  background: #3D4A77;
}
div center p {
  color: #FFF;
  padding: 0.5em;
  font-family: 'Black Ops One', sans-serif;
	font-size: 1.5em;
}
div button {
  font-family: 'Jura', sans-serif;
	font-size: 1.3em;
	padding: 0.7em;
	background-color: #3D4A77;
	color: #F7F7F7;
	border: none;
}
div button:hover {
  background-color: #F7F7F7;
  color: #222;
  cursor: pointer;
}
